<div class="d-flex gap-2">
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-square"
    viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
  </svg>
  <a href="#" class="link-secondary link-underline link-underline-opacity-0" hx-get="{% url 'management:user_list' %}"
    hx-swap="outerHTML" hx-target="#user_view">
    <h5>Back</h5>
  </a>
</div>
<div class="my-5">
  <form hx-post="{% url 'management:form_user_view' %}" hx-target="#user_view" hx-swap="innerHTML">
    {% csrf_token %}
    <div>
      <label for="id_username">Username:</label>
      {{userform.username}}
      {% if userform.username.errors %}
      {% for err in userform.username.errors %}
      <p class="p-0 m-0 text-danger">*{{err}}</p>
      {% endfor %}
      {% endif %}
    </div>
    <div>
      <label for="id_username">Username:</label>
      {{userform.first_name}}
      {% if userform.first_name.errors %}
      {% for err in userform.first_name.errors %}
      <p class="p-0 m-0 text-danger">*{{err}}</p>
      {% endfor %}
      {% endif %}
    </div>
    <div>
      {{userform.last_name}}
      {% if userform.last_name.errors %}
      {% for err in userform.last_name.errors %}
      <p class="p-0 m-0 text-danger">*{{err}}</p>
      {% endfor %}
      {% endif %}
    </div>
    <div>
      {{userform.email}}
      {% if userform.email.errors %}
      {% for err in userform.email.errors %}
      <p class="p-0 m-0 text-danger">*{{err}}</p>
      {% endfor %}
      {% endif %}
    </div>
    <div>
      {{userform.password1}}
      {% if userform.password1.errors %}
      {% for err in userform.password1.errors %}
      <p class="p-0 m-0 text-danger">*{{err}}</p>
      {% endfor %}
      {% endif %}
    </div>
    <div>
      {{userform.password2}}
      {% if userform.password2.errors %}
      {% for err in userform.password2.errors %}
      <p class="p-0 m-0 text-danger">*{{err}}</p>
      {% endfor %}
      {% endif %}
    </div>
    <input type="hidden" name="user_id" value="{{user_id}}">
    <div class="d-flex justify-content-end">
      <button class="{{button_css}}">
        {{button_name}}
      </button>
    </div>
  </form>
</div>