<div class="col rounded-4 p-3 m-2 shadow" id="department_view">
    <div class="d-flex justify-content-between p-3">
      <h3>List of Department</h3>
      <div>
        <button class="btn btn-success" 
          hx-get="{% url 'management:form_department_view' %}" 
          hx-swap="innerHTML"
          hx-target="#department_view" 
          hx-vals='{
            "department_id": ""
          }'>
          Add Department
        </button>
        <button class="btn btn-danger" 
          hx-post="{% url 'management:delete_department' %}" 
          hx-target="#department_view" 
          hx-swap="outerHTML" 
          hx-include="#departmentform"
          hx-trigger="confirmed"
        onclick="Swal.fire({
          title: 'Delete', 
          text:'Do you want to continue?',
          showCancelButton: true,
          showConfirmButton: true
        }).then((result)=>{
          if(result.isConfirmed){
            htmx.trigger(this, 'confirmed');  
          } 
      })">
          
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
            viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
          </svg>
        </button>
      </div>
    </div>
    <div>
      <form id="departmentform">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
            {% for department in departments %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{department.name}}</td>
              <td>
                <a hx-get="{% url 'management:form_department_view' %}" hx-target="#department_view" hx-swap="innerHTML" hx-vals='{
                  "department_id": {{department.id}}
                }'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                  </svg>
                </a>
              </td>
              <td>
                <input type="checkbox" name="box" id="" value="{{department.id}}" />
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
  
      <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination">
          {% if departments.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ departments.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %} {% for num in departments.paginator.page_range %}
          {% if departments.number == num %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
          {% endif %} {% endfor %} {% if departments.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ departments.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ departments.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>