{% load custom_tags %}
<div class="col rounded-4 p-3 m-2 shadow" id="user_view">
  <div class="d-flex justify-content-between p-3">
    <h3>List of Users</h3>
    <div>
      <button class="btn btn-success" 
        hx-get="{% url 'management:form_user_view' %}" 
        hx-swap="innerHTML"
        hx-target="#user_view" 
        hx-vals='{
          "user_id": ""
        }'>
        Add User
      </button>
      <button class="btn btn-danger" 
        hx-post="{% url 'management:delete_user' %}" 
        hx-target="#user_view" 
        hx-swap="outerHTML" 
        hx-include="#userform"
        hx-trigger="confirmed"
      onclick="Swal.fire({
        title: 'Delete', 
        text:'Do you want to continue?',
        showCancelButton: true,
        showConfirmButton: true
      }).then((result)=>{
        if(result.isConfirmed){
          htmx.trigger(this, 'confirmed');  
        } 
    })">
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
          viewBox="0 0 16 16">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
          <path
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
        </svg>
      </button>
    </div>
  </div>
  <div>
    <form action="{% url 'management:user_management' %}" class="d-flex justify-content-center" method="get">
      <div class="d-flex my-3" style="width: 80%;">
        <input type="text" name="search_user" id="" class="form-control" placeholder="Search name of the user" value="{{ request.GET.search_user }}" />
        <input type="submit" value="search" class="btn btn-success" style="width: 100px;" />
      </div>
    </form>
  </div>
  <div>
    <form id="userform">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Is Administrator</th>
        </tr>
      </thead>
      <tbody>
          {% for user in users %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{user.email}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>
              {% if user|is_admin %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#198754" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
              </svg>
               {% else %}
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
              </svg>
               {% endif %}
            </td>
            <td>
              <a hx-get="{% url 'management:form_user_view' %}" hx-target="#user_view" hx-swap="innerHTML" hx-vals='{
                "user_id": {{user.id}}
              }'>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
              </a>
            </td>
            <td>
              <input type="checkbox" name="box" id="" value="{{user.id}}" />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>

    <nav aria-label="Page navigation example" class="mt-4">
      <ul class="pagination">
        {% if users.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1{% if request.GET.search_user %}&search_user={{ request.GET.search_user }}{% endif %}" aria-label="First">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ users.previous_page_number }}{% if request.GET.search_user %}&search_user={{ request.GET.search_user }}{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %} {% for num in users.paginator.page_range %}
        {% if users.number == num %}
        <li class="page-item active">
          <a class="page-link" href="?page={{ num }}{% if request.GET.search_user %}&search_user={{ request.GET.search_user }}{% endif %}">{{ num }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}{% if request.GET.search_user %}&search_user={{ request.GET.search_user }}{% endif %}">{{ num }}</a>
        </li>
        {% endif %} {% endfor %} {% if users.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ users.next_page_number }}{% if request.GET.search_user %}&search_user={{ request.GET.search_user }}{% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ users.paginator.num_pages }}{% if request.GET.search_user %}&search_user={{ request.GET.search_user }}{% endif %}" aria-label="Last">
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>